
body {
    background-color: white
}


.card {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding:1px 20px;
    background: url('../assets/Imagens/backgorund.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top:10%;

}

a {
    text-decoration: none;
    color: black;
}
.Instagram {
    list-style-image: url('../assets/Imagens/Insta.png');
}
.Twitter {
    list-style-image: url('../assets/Imagens/twitter.png');
}
.youtube {
    list-style-image: url('../assets/Imagens/youtube.png')
}
